* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-title {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #283337;
}

.section-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1px;
  color: #283337;
}

.section-subtitle-1 {
  color: #40494d;
  font-size: 21px;
}

.btn1:hover {
  opacity: 0.7;
}
